@import url("fonts/fontfaces.css");

/* Reset default browser CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
text-decoration:none;
}
div, dl, dt, dd, ul, ol, li{zoom:1;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
a{color:#666666;display:block;}
a:hover{color:red;}
h1, h2, h3, h4, h5, h6 {clear: both;font-weight: normal;}
.clr{clear:both;}
body{background:#f5edd8;}
.page{display:block;margin:0 auto;width:1003px;margin-top:8px;background:white;}
.header{overflow:hidden;}
.header .on{}
.header .on .left{float:left;width:23px;height:14px;background:url(./img/onleft.gif);}
.header .on .middle{float:left;background:url(./img/onmid.gif);width:963px;height:14px;}
.header .on .right{float:right;width:17px;height:14px;background:url(./img/onright.gif);}

.h_left{float:left;background:url(./img/midleft.gif);width:7px;}
.h_right{float:right;background:url(./img/midright.gif);width:7px;}
.header .mid{background:rgb(250,245,235);}
.header .mid .logo{height:72px;padding-left:54px;float:left;width:420px;background:rgb(250,245,235);}
.header .mid .logo img{width:51px;height:51px;}
.header .mid .microcode{float:left;background:rgb(250,245,235);width:515px;}
.header .mid .microcode img{width:70px;height:70px;}
.header .menu_box{width:989px;height:60px;float:left;}
.header .menu_box .mainNav{background:#7a7637;height:34px;padding-left:20px;margin-bottom:20px;}
.header .menu_box .mainNav .menu{}
.header .menu_box .mainNav ul{height:34px;float:left;}
.header .menu_box .mainNav ul a{color:black;}
.header .menu_box .mainNav ul a:hover{}
.header .menu_box .mainNav ul li{height:34px;float:left;line-height:34px;text-align:center;padding:0 20px;}
.header .menu_box .mainNav ul li .sub-menu{display:none;}
.header .menu_box .mainNav ul li:hover{background:red;}
/*main*/
.main {background:url(./img/pagebk.png);padding-left:7px;}
.mbody{padding:0 10px;overflow:hidden;width:969px;float:left;}
.main .mbody .box{width:50%;float:left;}
.main .mbody .box .news{}
.main .mbody .n_header{overflow:hidden;border-bottom:solid 1px grey;padding:0 20px 5px;margin: 0 5px 0 0;}
.main .mbody .time_new{float:left;}
.main .mbody .more{color:red;font-size:16px;float:right;}
.main .mbody .n_body{margin-top:10px;overflow:hidden;}
.main .mbody .n_body .pic{float:left;}
.main .mbody .n_body .pic a{ float:left; }
.main .mbody .n_body img{border:1px solid #e6daa7;padding:4px;margin-right:11px;display:inline;width:130px;height:130px;}
.main .mbody .n_body .info{float:left;}
.main .mbody .n_body .info li{padding:4px 0 4px;font-size:12px;}


.main .mbody .n_body .info .dot{font-weight: 900;float:left;color:red;padding:0 5px;}

/* category page */
.cat_header{float:left;overflow:hidden;}
.cat_header .cat_pic{}
.cat_body{overflow:hidden;float:left;padding-top:10px;font-size:12px;}
.cat_body .cat_index{float:left;overflow:hidden;width:230px;background:url(./img/leftbg.jpg);height:300px;}
.cat_body .cat_index .sub_cats{overflow:hidden;}
.cat_body .cat_index .sub_cats ul{padding-left:30px;}
.cat_body .cat_index .sub_cats ul li{padding:5px 0 5px 0;font-size:16px;line-height:20px;}


.cat_body .cat_list{float:left;overflow:hidden;padding:10px 0 0 20px;}
.cat_body .cat_list .list_body{float:left;padding-top:10px;}
.cat_body .cat_list .list_body ul{line-height:25px;}
.cat_body .cat_list .list_body ul li{border-bottom:1px #cdcdcd dashed;width:702px;}
.cat_body .cat_list .list_body ul li .date{float:left;width:120px;}
.cat_body .cat_list .list_body .content{width:702px;color:#666666;}
.cat_body .cat_list .list_body .content .cont_tit{text-align:center;font-size: 20px;padding-bottom: 12px;}
.cat_body .cat_list .list_body .content .cont_title{font-weight:bold;padding-bottom:10px;font-size:20px;text-align:center;}
.cat_body .cat_list .list_body .content .cont_info{padding-left:250px;padding-top:5px;border-top:1px #cdcdcd dashed;text-align:center;}
.cat_body .cat_list .list_body .content .cont_info .author{float:left;padding-right:20px;}
.cat_body .cat_list .list_body .content .cont_info .date{float:left;padding-right:20px;}
.cat_body .cat_list .list_body .content .cont_info .cat{float:left;}
.cat_body .cat_list .list_body .content .conts{padding:10px;line-height:20px;}


/* content for imgs */
.cat_body   .products{width:989px;}
.cat_body   .products .product_title{padding:20px 0 10px 20px ;font-size:35px;line-height:35px;height:35px;font: normal 20px/26px "Microsoft YaHei";border-bottom: 1px dotted #d8d8d8;border-top:3px solid #c00;}
.cat_body   .products .product_info{padding-left:20px;}
.cat_body   .products .product_info .author{float:left;}
.cat_body   .products .product_info .date{float:left;}
.cat_body   .products .product_info .cat{float:left;}

.cat_body   .products .templine{display:block;height:3px;color:#c00;overflow:hidden;width:767px;}
.cat_body   .products .pre_view{padding-left:20px;}
.cat_body   .products .pre_view .buynowbox{padding:250px 100px 10px 20px;position:absolute;left:700px;}
.cat_body   .products .pre_view .buynowbox  a{color: #e5511d;border-color: #f0cab6;background: #ffe4d0;width: 134px;height: 39px;text-align: center;font-size: 18px;font-weight:bold;line-height: 39px;border-width: 1px;border-style: solid;}



/*category for imgs */
.cat_body .cat_list .list_body ul .cont_img{width:150px;float:left;border:solid 1px #fff;margin-right:5px;}
.cat_body .cat_list .list_body ul .cont_img:hover{border:solid 1px pink;}
.cat_body .cat_list .list_body ul li:last-child{margin-right:0;}
.cat_body .cat_list .list_body ul .cont_img .thumbnail{}
.cat_body .cat_list .list_body ul .cont_img .thumbnail .pic{padding:10px;width:130px;height:130px;overflow:hidden;}
.cat_body .cat_list .list_body ul .cont_img .thumbnail .pic img{width:130px;height:130px;}

.cat_body .cat_list .list_body ul .cont_img .intro .pro_name{text-align:center;}
.cat_body .cat_list .list_body ul .cont_img .intro .pro_info{}

/* tabs for product param */
.product_param .container_header{height: 32px;line-height: 30px;overflow: hidden;border-bottom: 2px solid #c00;position: relative;}
.product_param .container_header ul{margin:0 15px;overflow: hidden;zoom: 1;position: relative;top: 2px;}
.product_param .container_header ul li{padding:0 6px;cursor: pointer;float: left;background: #f3f3f3;border: 1px solid #ddd;margin-right: 2px;}
.product_param .container_header ul li.on{background:red;color: #fff;border: 1px solid #c00;}

.product_param .container_body{padding: 10px 0 20px 0;width: 100%;overflow: hidden;}
.product_param .container_body .sub_con{display:none;}
.product_param .container_body .cur_sub{display:block;margin:3px 15px;}
.product_param .container_body .cur_sub ul{border-top:solid 1px #cfc8c8;background: #f6f6f6;}
.product_param .container_body .cur_sub ul li{padding:10px;border-left:solid 1px #cfc8c8;border-right:solid 1px #cfc8c8;border-bottom:solid 1px #cfc8c8;}
.product_param .container_body .cur_sub ul li span{font-size:16px;width: 140px;text-align: right;}
.product_param .container_body .cur_sub ul li .post-meta-key{}
.product_param .container_body .cur_sub table{width:100%;}
.product_param .container_body .cur_sub table tr{}
.product_param .container_body .cur_sub table tr td{border:#ddd solid 1px;padding:10px 5px;}
.product_param .container_body .cur_sub table tr td.tit{text-align:right;width:140px;background:#F6F6F6;}


/*footer*/
.footer{padding-top:40px;float:left;overflow:hidden;background:url(./img/pagebk.png);padding-left:7px;width:100%;}
.footer .link{width:789px;padding:5px  100px;background:#7a7637;overflow:hidden;}
.footer .link a{color:black;}
.footer .link img{display:none;}
.footer .link a:hover{color:red;}
.footer .link .widget h3{display:none;}
.footer .link .widget ul{}
.footer .link .widget ul li {display:block;float:left;padding:2px 10px;}

.footer .police{padding:10px 60px;font-size:12px;line-height:22px;color:#999;}

.downleft {float:left;width:25px;height:31px;}
.downmid{float:left;background:url(./img/downmid.gif);width:952px;height:31px;}
.downright{width:26px;height:31px;float:left;}

/*slide
.slides{width:640px;height:350px;}*/
/*** Slides ***/
.slider{width:989px;float:left;}
.slider_frame{padding:10px;overflow:hidden;filter:alpha(opacity=50)}
.slides{width:968px; height:330px; margin:0 0 40px; position:relative;float:left;}
.slides img{max-width:100%;width:968px;height:330px;border:none;padding:0;}
.slides .slides_container{width:968px; height:330px; overflow:hidden}
.slides .caption{width:968px; height:90px; position:absolute; left:0; bottom:-90px;}
.slides .cap{height:90px; background:rgba(0,0,0,0.5); background:#000\9; filter:alpha(opacity=50)}
.slides .cap a{display:inline;}
.slides .caption h2{font-size:16px; padding:10px 0 5px 15px; position:relative}
.slides .caption h2 a{color:#FFF}
.slides .caption h2 span{margin-right:8px; padding:3px 6px; background:#EA84BA; font-size:12px; color:#FFF;display:inline;}
.slides .caption p{line-height:1.6em; color:#CCC; padding:0 15px;  overflow:hidden; position:relative}
.slides .pagination{position:absolute; left:0; bottom:-20px}
.slides .pagination li{float:left; margin-right:2px}
.slides .pagination li a{display:block; width:35px; height:10px; background:rgba(12,12,12,0.4); text-indent:-999em; overflow:hidden}
.slides .pagination li.current a{background:rgba(250,84,120,0.9);}

/*pic zoom by vvg **/
* {margin: 0;padding: 0;}
#zoomWarp {margin: 20px auto;overflow: hidden;}
#zoomWarp #big img{width:1138px;height:1138px;}
#smallwarp {position: relative;border: 1px solid #666666;width: 300px;height: 300px;overflow: hidden;float:left;}
#smallwarp img{width:300px;height:300px;}
#minImg {display: inline;margin-right: 5px;float:left;border:solid 1px #eaeaea;padding:10px 5px;}
#minImg li {width: 70px;height: 70px;overflow: hidden;background: #ccc;margin-bottom: 10px;border: 2px solid #fff;cursor: pointer;list-style: none;}
#minImg li:last{margin-bottom:none;}
#minImg li:hover{border:2px solid red;}
#minImg li.last-child {margin-bottom: 0;}

